@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oswald:wght@200..700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  font-family: "DM Sans", sans-serif;
}

main {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  gap: 1.2rem;

  grid-template-areas:
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside main main main"
    "aside section section section"
    "aside section section section";

  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(4, 1fr);
}

aside {
  grid-area: aside;
  /* background-color: aquamarine; */

  gap: 1rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
}

.main-content {
  grid-area: main;
  background-color: blanchedalmond;
}

.section_content {
  grid-area: section;
  background-color: burlywood;
}
